* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: serif sans-serif;
}
.navbar {
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.navitems {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navlist {
    background-color: #8080806a;
    padding: 10px;
    border-radius: 20px;
}
.navlink {
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: color 0.3s;
}
.navlink:hover {
    color: greenyellow;
}
.body-container {
    background: url("images/gray-bg.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 30px;
    border-radius: 20px;
    /* display: flex;
    flex-direction: column; */
}
.contents {
    padding-top: 50px;
}
.topbar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.topbar {
    display: inline-flex; /* Change to inline-flex */
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 214, 214);
    padding: 5px;
    border-radius: 30px;
    margin: 0 auto; /* Center the topbar if desired */
}
.topbar .new {
   background-color: greenyellow;
   padding: 10px 15px;
   border-radius: 20px;
}
.heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.heading {
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}
.sub-heading {
    font-size: large;
    text-align: center;
    color: grey;
    margin-bottom: 40px;
}
.TryBtn {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 500;
    transition: color 0.3s;
}
.TryBtn:hover {
    font-size: 150%;
    border: 2px double greenyellow;
    color: black;
    background-color: #8080806a;
    font-weight: 700;
}
.manifesto-container {
    background-color: white;
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-radius: 40px;
}
.manifesto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.manifesto-details {
    padding: 20px;
    flex: 1;
    text-align: center;
    margin: 0 10px;
   
}
.divider {
    width: 2px;
    background-color: #8080806a;
    height: 60%;
    margin: 0 10px;

}
.manifesto-heading {
    margin: 10px 0;
    font-size: 25px;
}
.manifesto-details .fas {
    font-size: 30px;
    padding: 10px 30px;
    border: 2px solid #8080806a;
    border-radius: 30px;
    margin-bottom: 10px;
}
.manifesto-body {
    line-height: 1em;
    text-align: center;
    font-size: 18px;
}